/* ===========================================
Colors:
ljubicasta #b513b7
zuta       #fff852 
zelena #036D19
crvena #F45866
crna #131200

Fonts:
==============================================*/

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --ljub: #b513b7;
  --ljub1: rgba(181, 19, 183, 0.5);
  --zut: #fff852;
  --zut1: rgba(255, 248, 82, 0.5);

  --pruge: repeating-linear-gradient(45deg,
      var(--zut1),
      var(--zut1) 10px,
      transparent 10px,
      transparent 20px);
}

img {
  max-width: 100%;
}

.copyrights {
  background-color: #222107;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 0.7rem;
  color: darkgrey;
}

.mentions {
  font-size: 0.5rem;
}

/* ===========================================
                    NAVBAR
==============================================*/
.index-header {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.navbar__wrapper {
  max-width: 100%;
  position: relative;
  padding: 0.4rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 0, 0, 0.44019614681810226) 0%,
      rgba(255, 255, 255, 1) 26%);
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;

  background: var(--zut);
  clip-path: circle(0px at top right);
  transition: clip-path ease-in-out 0.5s;
  width: 100vw;
  height: 100vh;
}

.navbar-open {
  clip-path: circle(250% at top right);
}

.navbar__list {
  padding: 0;
  margin: 5rem 0 0 0;
  list-style: none;
}

.navbar__item {
  padding: 1.3rem 5rem;
  border-bottom: 1px solid rgba(255, 248, 82, 0.1);
  display: block;
  text-align: center;
}

.navbar__item:hover,
.navbar__item:focus {
  background-color: var(--ljub1);
}

.navbar__item:hover .navbar__link,
.navbar__item:focus .navbar__link {
  color: var(--ljub);
}

.navbar__item:last-child {
  border-bottom: none;
}

.navbar__link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

/* .navbar-open .navbar__item {
  animation: fadeIn 0.4s cubic-bezier(0.79, 0.14, 0.15, 0.86) both;
} */

/***************
navbar animacija
****************/
/*
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(200%);
  }

  75% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

 .navbar-open .navbar__item:nth-child(1) {
  animation-delay: 0;
}

.navbar-open .navbar__item:nth-child(2) {
  animation-delay: 0.1s;
}

.navbar-open .navbar__item:nth-child(3) {
  animation-delay: 0.2s;
}

.navbar-open .navbar__item:nth-child(4) {
  animation-delay: 0.3s;
}

.navbar-open .navbar__item:nth-child(5) {
  animation-delay: 0.4s;
}

.navbar-open .navbar__item:nth-child(6) {
  animation-delay: 0.5s;
}

.navbar-open .navbar__item:nth-child(7) {
  animation-delay: 0.6s;
} */

/***************
navbar animacija
****************/

.navbar__logo__img {
  width: 5rem;
  max-height: 100%;
  object-fit: cover;
  margin-left: 1rem;
}

.menu-toggle {
  border: none;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 0;
}

.menu-toggle:hover,
.menu-toggle:focus {
  cursor: pointer;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  position: relative;
  background: var(--ljub);
  width: 1.5rem;
  height: 1px;
  display: block;
  transition: transform ease-in-out 0.4s, opacity ease 0.3s,
    background-color ease 0.6s;
}

.hamburger::before {
  transform: translateY(7px);
}

.hamburger::after {
  transform: translateY(-8px);
}

/********
hamburger animation
*******/
.open .hamburger::after {
  opacity: 0;
}

.open .hamburger {
  transform: rotate(135deg);
  background: var(--ljub);
}

.open .hamburger::before {
  transform: rotate(90deg);
  background: var(--ljub);
}

/********
hamburger animation
*******/
.switchers-wrapper {
  position: absolute;
  top: 110%;
  margin-left: 1rem;
}

.language-switcher-sr,
.language-switcher-en {
  border-radius: 50px;
  padding: 0.2rem 0.7rem;
  box-shadow: inset -1px 4px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.language-switcher-sr:hover,
.language-switcher-en:hover {
  cursor: pointer;
  opacity: 0.7;
}

.language-switcher-sr:active,
.language-switcher-en:active {
  box-shadow: -1px 4px 1px rgba(0, 0, 0, 0.4);
}

.language-switcher-sr img,
.language-switcher-en img {
  clip-path: circle(8px);
  height: 16px;
  margin-left: 5px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.language-switcher-en img {
  margin-right: 5px;
  margin-left: 0;
}

/* ===========================================
                        NASLOVNA
==============================================*/
.hero {
  width: 100%;
  height: 100vh;
  background-image: url("img/jovan-hero801x760.png");
  background-attachment: scroll;

  background-position: 10%;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-title {
  grid-column: 1;

  margin-left: 1rem;

  text-transform: uppercase;
  text-align: end;
}

.hero-title h4 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 0.7rem;
}

.hero-title h2 {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--ljub1);
}

.hero-title h2 span:nth-child(odd) {
  color: var(--ljub1);
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  line-height: 0.8;
  letter-spacing: -4px;
}

.hero-title h2 span:nth-child(even) {
  color: var(--ljub);
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  line-height: 0.8;
  letter-spacing: -4px;
}

.hero-title h2 span:last-child {
  line-height: 1.2;
}

.naslovna__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 80%;
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  visibility: hidden;
}

.logo {
  opacity: 0.8;
  z-index: 0;
  height: 150px;
}

.naslovna__strelica {
  position: relative;
  width: 50px;
  margin-top: 2rem;
  cursor: pointer;
}

.naslovna__strelica::before,
.naslovna__strelica::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  background: var(--ljub);
}

.naslovna__strelica::before {
  transform: rotate(155deg) translateX(4px);
  left: 50%;
  border-radius: 50px;
}

.naslovna__strelica::after {
  transform: rotate(25deg) translateX(4px);
  left: -50%;
  border-radius: 50px;
}

/* ===========================================
                    PONUDA
==============================================*/
#ponuda {
  max-height: 100%;
}

.ponuda-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/*******************************/
.icon {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  max-width: none;
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.3));
}

/************************************/

.plan-ishrane,
.plan-treninga,
.dual-plan {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  position: relative;

  margin-top: 0;
}

.plan-ishrane__ikonica,
.plan-treninga__ikonica,
.dual-plan__ikonica {
  background-color: var(--ljub);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.5));
  margin-right: 0.5rem;
}

.dual-plan__ikonica {
  filter: none;
}

.plan-treninga__ikonica {
  background-color: var(--zut);
}

.dual-plan__ikonica {
  width: 3.5rem;
  height: 3.5rem;
  position: relative;
}

.dual-plan__ikonica img:last-child {
  left: 120px;
}

.dual-plan__ikonica::before {
  content: "";
  background-color: var(--zut);
  position: absolute;
  left: 40px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  z-index: -1;
}

.dual-plan__ikonica::after {
  content: "";
  background-color: var(--zut);
  opacity: 0.5;
  position: absolute;
  left: 40px;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100px;
  z-index: 1;
}

.plan-ishrane__info,
.plan-treninga__info,
.dual-plan__info {
  display: relative;
  margin-top: 13rem;
}

.plan-ishrane__tekst,
.plan-treninga__tekst,
.dual-plan__tekst {
  margin-left: 1rem;
  width: 70%;
}

.plan-ishrane__info p,
.plan-treninga__info p,
.dual-plan__info p {
  font-size: 1.04rem;
  font-weight: 400;
  color: #131200;
}

.plan-ishrane__title-wrapper,
.plan-treninga__title-wrapper,
.dual-plan__title-wrapper {
  text-align: center;
  position: relative;
  margin-left: 1rem;
  width: 70%;
  color: var(--ljub);
}

.plan-ishrane::before,
.plan-treninga::before,
.dual-plan::before {
  margin: 9.8rem 0 1rem -20%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
  background: repeating-linear-gradient(45deg,
      rgba(255, 248, 82, 0.4),
      rgba(255, 248, 82, 0.4) 10px,
      transparent 10px,
      transparent 20px);
}

/* ------------------------------ */
.plan-kartica-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37%;
  z-index: -2;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

.plan-kartica-img img {
  object-fit: cover;
}

.plan-kartica-overflow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.plan-kartica-overflow img {
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.45));
}

.dual-plan .plan-kartica-img {
  height: 30%;
}

.dual-plan::before {
  margin-top: 7.8rem;
}

/* --------------------------------*/

.plan-ishrane__title-wrapper h2,
.plan-treninga__title-wrapper h2,
.dual-plan__title-wrapper h2 {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.dugme__prijavi-se {
  width: 85%;
  display: flex;
  justify-content: end;
  margin: 2rem 0 2rem 0;
  cursor: pointer;
  transition: scale ease 0.2s;
}

.dugme__prijavi-se:active {
  transform: scale(1.01);
}

.dugme__prijavi-se img {
  transition: all ease 0.3s;
}

.dugme__prijavi-se a:hover img,
.dugme__prijavi-se a:focus img {
  transform: rotate(45deg);
}

.dugme__prijavi-se a:hover,
.dugme__prijavi-se a:focus {
  border: 1px solid var(--ljub);
  border-left: 0;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.8));
}

.dugme__prijavi-se a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--zut);
  background: var(--ljub1);
  border: 1px solid rgba(181, 19, 183, 0.3);
  border-radius: 50px;
  padding-right: 1.2rem;
  filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.5));
  height: 35px;
  border-left: 0;
  transition: border ease 0.4s, filter ease 0.1s;
}

.dual-plan .dugme__prijavi-se a {
  width: 55%;
  justify-content: space-between;
  max-width: 170px;
}

/* ===========================================
                    TESTIMONIALS
==============================================*/
#testimonials {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.testimonials__wrapper {
  background-image: url("img/transformacije/mozaik2-500x250.jpeg");
  width: 100%;
  background-size: contain;
  background-repeat: repeat;
  position: relative;
  z-index: 0;
}

.testimonials__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.8) 50%, transparent);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel {
  position: relative;
  height: 250px;
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slider {
  margin: 0;
  padding: 0;
  color: white;
  list-style: none;
  scrollbar-width: none;
}

.carousel__slide {
  text-align: center;
  color: white;
}

.carousel__slide::after {
  content: "";
  color: white;
  bottom: 0;
  right: 0;
}

.carousel__slide::before {
  content: "";
  color: white;
  top: 0;
  left: 0;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.carousel__button--left {
  left: 0;
}

.carousel__button--right {
  right: 0;
}

.carousel__navigation {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.glider-dot {
  background: rgba(250, 250, 250, 0.5);
}

.glider-dot .active {
  background: rgba(250, 250, 250, 0.9);
}

/* ===========================================
                   O MENI
==============================================*/
#omeni {
  overflow: hidden;
}

.omeni-wrapper {
  padding: 2rem;
}

.omeni-info__title {
  margin: 1rem 0;
  position: relative;
}

.omeni-info__title::before {
  content: "";
  position: absolute;
  background: var(--pruge);
  top: -20px;
  left: -50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50px;
}

.omeni-info__title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--ljub);
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 350px;
  margin: 0 auto;
}

.omeni-img {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 350px;
  margin: 0 auto;
}

.omeni-info__content p {
  font-size: 1rem;
  position: relative;
  z-index: 1;
}

.omeni-info-index {
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.omeni-jovan {
  object-fit: cover;
  clip-path: circle();
}

.omeni-info__content {
  position: relative;
}

.omeni-info__content::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  background: repeating-linear-gradient(45deg,
      var(--zut1),
      var(--zut1) 10px,
      transparent 10px,
      transparent 20px);
  width: 90%;
  height: 110%;
  z-index: 0;
  border-radius: 50px;
}

.dugme-omeni {
  width: 9.8rem;
}

.dugme-omeni__wrapper {
  display: flex;
  justify-content: center;
}

/* ===========================================
                    PRIJAVA
==============================================*/
#prijava {
  margin: 0;
}

.prijava-title h2 {
  font-family: "Oswald", sans-serif;
  color: var(--ljub);
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.prijava-title {
  position: relative;
}

.prijava-title::before {
  content: "";
  position: absolute;
  background: var(--pruge);
  top: -20px;
  left: -50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50px;
}

.prijava__wrapper {
  margin: 0 auto;
  padding: 1rem;
}

.polje {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

input,
textarea,
select {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 13px 16px;
  margin-top: 3px;
  background: #f8f8f8;
  transition: box-shadow ease 0.3s;
  box-sizing: border-box;
}

input:hover,
textarea:hover {
  border: 1px solid rgb(197, 196, 196);
}

input:focus,
textarea:focus {
  outline: none;
  filter: drop-shadow(0 0 4px var(--ljub1));
}

.cilja {
  resize: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.4;
  letter-spacing: 1px;
  margin-left: 5px;
  color: var(--ljub1);
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0.85;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.opcija,
#odabir,
#cilj,
#pol,
#aktivnost {
  letter-spacing: 1px;
}

#prijava .dugme__prijavi-se {
  margin: 2rem auto;
  width: 90%;
}

#prijava .dugme__prijavi-se a {
  width: 55%;
  justify-content: space-between;
  max-width: 170px;
}

.error-message-visible {
  color: white;
  background-color: red;
  font-size: 1.1rem;
  text-align: center;
}

.error-message-invisible {
  display: none;
}

.succes-message-visible {
  color: white;
  background-color: green;
  font-size: 1.1rem;
  text-align: center;
}

/* ===========================================
                   FOOTER
==============================================*/
#footer {
  background-color: #131200;
  position: relative;
  z-index: 0;
}

#footer::before,
#footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg,
      var(--zut1),
      var(--zut1) 10px,
      transparent 10px,
      transparent 20px);
  z-index: -1;
}

#footer::after {
  width: 100%;
  height: 100%;
  background: #131200;
  z-index: 0;
  clip-path: polygon(0 0, 100% 38%, 100% 100%, 0% 100%);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  padding: 3.5rem;
}

.footer-wrapper h3 {
  color: var(--zut);
}

.footer-wrapper .navbar__logo .navbar__logo__img {
  margin: 2rem 0 0 0;
  width: 8rem;
}

.kontakt-container p,
.kontakt-container p a {
  color: var(--ljub);
  font-size: 1rem;
  text-align: start;
  font-weight: 500;
  margin-bottom: 1rem;
}

.kontakt-container p a:hover {
  color: var(--zut);
}

.footer-links--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.footer__item {
  margin-bottom: 0.7rem;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  text-decoration: none;
  color: var(--ljub);
  transition: color ease 0.2s;
  font-size: 1rem;
}

.footer__link:focus,
.footer__link:hover {
  color: var(--zut);
}

.footer__link i {
  color: var(--zut);
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 2rem 0 4rem 0;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  margin-left: 1.5rem;
  position: relative;
  color: var(--zut);
  transition: color ease 0.3s;
  cursor: pointer;
}

.social-icon a {
  color: inherit;
}

.social-icon:hover,
.social-icon:focus {
  color: var(--ljub1);
}

.social-icon:active {
  transform: scale(1.05);
}

/* ===========================================
                   CALCULATOR
==============================================*/
#calculator {
  margin: 0;
  padding: 0 1rem;
}

.relative-navbar {
  position: relative;
}

.calculator__wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.calculator-rezultati__polje {
  background: var(--zut1);
  padding: 0.5rem;
  margin: 1rem 0;
}

.calculator-rezultati__polje h4 {
  margin-top: 0;
}

.calculator__polje h4 {
  margin: 1rem 0 0 0;
  padding: 0;
}

.calculator-button__wrapper {
  text-align: center;
}

.calculator__title {
  position: relative;
  margin: 2rem auto 0 auto;
}

.calculator__title::before {
  content: "";
  position: absolute;
  background: var(--pruge);
  top: -20px;
  left: -50px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 50px;
}

.calculator__title h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--ljub);
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 350px;
  margin: 0 auto;
}

.show {
  visibility: visible;
}

.no-show {
  visibility: hidden;
}

/* ===========================================
                    BLOG - ADMIN
==============================================*/

#blog-dash__main {
  padding: 2rem;
}

.blog-dash__title--wrapper {
  background: var(--zut1);
  margin: 0 calc(-2rem + 0%);
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-dash__title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--ljub);
  text-align: center;
  font-family: "Oswald", sans-serif;
  max-width: 350px;
  margin: 0 auto;
}

.new-post__btn {
  color: var(--ljub1);
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.new-post__btn:hover,
.new-post__btn:focus {
  color: var(--ljub);
}

.blog-pregled__wrapper {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(40rem - 100%);
  margin: calc(var(--margin) * -1);
  margin-top: 2rem;
  border-top: 1px solid var(--ljub1);
}

.blog-pregled__wrapper>* {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
}

.blog-info-card {
  padding: 0.5rem;
  border-radius: 10px;
  background: var(--ljub1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 20rem;
  min-width: 10rem;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.blog-info-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(77% 0, 100% 0%, 100% 100%, 90% 100%);
  background-color: var(--zut);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-card__title {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: start;
  align-items: center;
}

.blog-card__title__ime {
  color: inherit;
  text-decoration: none;
}

.blog-card__title h4,
p {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.blog-card__id {
  margin-right: 0.2rem;
  font-size: 0.7rem;
}

.blog-date {
  display: flex;
  justify-content: start;
  margin-bottom: 0.6rem;
  font-size: 0.75rem;
}

.blog-actions {
  text-align: end;
  z-index: 0;
}

.blog__action-button {
  border: 0;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
}

.delete a {
  color: red;
}

.edit a {
  color: green;
}

.blog__button-image:hover .blog-dash__image,
.blog__button-image:focus .blog-dash__image {
  height: 100%;
}

.blog__button-image {
  color: var(--ljub);
  border: 0;
  background: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
}

.blog-dash__image {
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  transition: height 0.3s ease-in-out;
}

.blog-dash__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* ===========================================
              BLOG - INDEX
==============================================*/
.blog-index__wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 600px) 1fr;
}

.blog-index__main-title--wrapper {
  grid-column: 1 / span 3;
}

.search-bar {
  grid-column: 2;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
  padding: 1rem;
}

.search-bar>* {
  flex-grow: 1;
  flex-basis: calc(calc(30rem - 100%) * 999);
  margin: 1rem;
}

.search-bar input {
  box-sizing: border-box;
  width: 100%;
  text-transform: uppercase;
}

.blog-index__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2;
  padding: 1.6rem;
  max-width: 1000px;
  margin: 0 auto;
}

.blog-index__info--list {
  grid-column: 1;
}

.blog-index__img-holder {
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.blog-index__main-title {
  width: 100%;
  background: var(--zut1);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-index__main-title h2 {
  font-family: "Oswald", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.blog-index__info--list {
  list-style: none;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
}

.blog-index__info--list li span {
  opacity: 0.4;
  font-weight: 700;
  font-size: 0.9rem;
}

.blog-index__img-holder img {
  object-fit: cover;
  object-position: center;
  width: 8rem;
  border-radius: 102px;
  height: 8rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.blog-index__title h4 {
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.blog-index__content--text:focus,
.blog-index__content--text:hover {
  color: var(--ljub1);
  cursor: pointer;
}

.single-blog__link {
  text-decoration: none;
  color: inherit;
}

.blog-index__content--text {
  grid-column: 1 / span 2;
}

.blog-index__content--text p {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-index__underline {
  width: 85%;
  height: 1px;
  background: var(--ljub1);
  margin: 1rem auto;
  grid-column: 1 / 3;
}

.blog-index__button--wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2;
}

.dugme-login-admin a {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
}

/* ===========================================
              BLOG - SINGLE POST 
==============================================*/
.single-post__title {
  width: 100%;
  /* background: var(--zut1); */
  /* padding: 3rem 0rem; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
}

.single-post__title--info {
  color: white;
  font-size: 0.66rem;
  margin: 0.1rem 1rem 0.5rem 1rem;
  padding: 0;
  filter: drop-shadow(1px 1px 0px rgba(0, 0, 0, 0.5));
  text-align: center;
}

.single-post__title--info li {
  display: inline;
}

.single-post__title h2 {
  /* color: var(--ljub); */
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.single-post__content-wrapper {
  padding: 1rem;
}

.single-post__content {
  font-family: "Inter", sans-serif;
}

.single-post__img--wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.single-post__img--wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.single-post__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-post__underline {
  height: 1px;
  background-color: var(--ljub);
  width: 60%;
  margin: 2rem auto 0 auto;
}

.single-post__sidebar {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
  background: #f8f8f8;
  margin-top: 2rem;
}

.single-post__sidebar h2 {
  margin: 1rem auto 1rem 1rem;
  color: rgba(0, 0, 0, 0.7);
}

.single-post__sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar-post {
  margin: 1rem auto 1rem 2rem;
}

.sidebar-post__title {
  color: rgba(0, 0, 0, 0.6);
}

.sidebar-post__title a {
  color: inherit;
  text-decoration: none;
}

.sidebar-post__title a:hover,
.sidebar-post__title a:focus {
  color: var(--ljub1);
}

.sidebar-post:nth-child(last) {
  margin-bottom: 0;
}

.sidebar-post .single-post__underline {
  margin: 0.5rem;
}

/* ===========================================
                  NEW POST 
==============================================*/
.new-post__main {
  margin: 0;
  padding: 1rem;
}

.new-post__title {
  font-family: "Oswald", sans-serif;
  color: var(--ljub);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 900;
}

.new-post__form--wrapper {
  margin: 0 auto;
}

.new-post__form input,
.new-post__form textarea,
.new-post__form select {
  padding: 6px 9px;
}

.new-post__form--wrapper {
  max-width: 600px;
}

/* ===========================================
                    DASHBOARD
==============================================*/
.dashboard-content {
  margin-bottom: 3rem;
}

.dashboard-header {
  width: 100%;
}

.dashboard-title__wrapper {
  background: var(--pruge);
  width: 100%;
  padding: 0.8rem 0;
  text-align: center;
}

.dashboard-title__wrapper h1 {
  margin: 0%;
}

.table-wrapper {
  padding: 0 0.5rem;
}

.person__name,
.entry-list,
.ostalo-info {
  list-style: none;
  padding: 0;
  margin: 0;
}

.person__name {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid var(--zut);
  padding: 0.3rem;
}

.info-item {
  margin-right: 0.5rem;
}

.info-item span {
  color: var(--ljub);
}

.ostalo-info {
  clip-path: circle(0 at top right);
  background: #fff;
  transition: all ease-in-out 0.4s;
  width: 100vw;
  margin-left: 2rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  position: absolute;
  z-index: 9999;
}

.ostalo-info-open {
  clip-path: circle(150% at top right);
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100vw;
  margin: 0;
  padding: 1rem;
}

.ostalo-info-open .info-item {
  margin-bottom: 0.2rem;
  border-bottom: 1px solid var(--zut1);
  padding-bottom: 0.2rem;
}

.ostalo-info-open .info-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.open-close-button__wrapper {
  /* position: absolute; */
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-align: center;
  border: 1px solid var(--ljub);
  border-radius: 100px;
  margin-left: auto;
}

.open-close-button__wrapper:focus,
.open-close-button__wrapper:hover,
.open-close-button__wrapper:active {
  background-color: var(--zut);
}

.open-close-button {
  position: relative;
  top: 15px;
  left: 9px;
}

.open-close-button::before,
.open-close-button::after {
  content: "";
  position: relative;
  background: var(--ljub);
  width: 0.5rem;
  height: 1px;
  display: block;
  transition: transform ease-in-out 0.3s;
}

.open-close-button::after {
  transform: rotate(135deg);
  left: 5px;
}

.open-close-button::before {
  transform: rotate(45deg);
  right: 0px;
  top: 1px;
}

.arrow-up .open-close-button::after {
  transform: rotate(45deg);
  left: 5px;
}

.arrow-up .open-close-button::before {
  transform: rotate(135deg);
  right: 0px;
  top: 1px;
}

.delete-button {
  border: none;
  background: none;
  padding: 0;
}

.delete-button a {
  color: red;
  text-decoration: none;
}

.delete-button:hover .fas,
.delete-button:focus .fas {
  transform: scale(1.2);
}

/* ===========================================
                    LOGIN
==============================================*/
.admin-prijava {
  position: relative;
  margin: 0;
  padding: 0;
}

.admin-prijava__wrapper {
  margin-top: 8rem;
}

.dugme-login-admin {
  margin-top: 1rem;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: var(--ljub);
  color: var(--zut);
  border: 0;
  box-shadow: 1px 1px 2px rgba(54, 39, 39, 0.4);
  transition: all ease 0.2s;
  padding: 10px 30px;
}

.dugme-login-admin:active {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.dugme-login-admin:hover,
.dugme-login-admin:focus {
  color: var(--ljub);
  background-color: var(--zut);
}

.form-login {
  text-align: center;
}

/* ===========================================
                    RESPONSIVE
==============================================*/
@media (min-width: 361px) {

  .plan-kartica-img,
  .plan-kartica-overflow {
    max-width: 80%;
  }
}

@media (min-width: 460px) {

  .plan-kartica-img,
  .plan-kartica-overflow {
    max-width: 65%;
  }

  .hero-title h2 span:nth-child(2n + 1) {
    font-size: 4.5rem;
  }

  .hero-title h2 span:nth-child(2n) {
    font-size: 4rem;
  }

  .logo {
    height: 200px;
  }
}

@media (min-width: 600px) {

  /** naslovna **/
  .hero {
    width: 100%;
    height: 100vh;
    background-image: none;
  }

  .hero-desktop-img {
    background-image: url("img/jovan-hero-nobckg800x759.png");
    background-size: cover;
    background-position: -13rem;
    background-repeat: no-repeat;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .hero-title {
    grid-column: 1;
    grid-row: 2;
    margin-left: 1rem;
    text-transform: uppercase;
    text-align: end;
  }

  /** ponuda **/
  .ponuda-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    align-items: start;
  }

  .plan-kartica-img,
  .plan-kartica-overflow {
    max-width: 100%;
  }

  .plan-kartica-img {
    height: 18%;
  }

  .dual-plan .plan-kartica-img {
    height: 17%;
  }

  .plan-ishrane::before,
  .plan-treninga::before,
  .dual-plan::before {
    margin: calc(3.8rem + 15%) 0px 0rem 0px;
    width: 80%;
    height: 100%;
  }

  .dugme__prijavi-se {
    justify-content: start;
  }

  .dual-plan .dugme__prijavi-se a {
    width: 100%;
    padding-right: 0.8rem;
  }

  .dual-plan__ikonica {
    margin-right: 2rem;
  }

  .plan-ishrane__info,
  .plan-treninga__info,
  .dual-plan__info {
    display: relative;
    margin-top: 60%;
  }

  .omeni-info__content::before {
    height: 115%;
  }

  /**** BLOG INDEX ****/

  .blog-index__main-title h2 {
    font-size: 2rem;
  }

  .blog-index__title h4 {
    font-size: 1.4rem;
  }

  .blog-index__wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .blog-index__main-title--wrapper {
    grid-column: 1 / 5;
  }

  .blog-index__content {
    grid-template-columns: 1fr 1fr 2fr;
    grid-column: 1 / 5;
  }

  .search-bar {
    grid-column: 1 / 5;
  }

  .blog-index__info--list {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }

  .blog-index__info--list li {
    margin-bottom: 0.8rem;
  }

  .blog-index__img-holder {
    grid-column: 1;
    justify-self: start;
  }

  .blog-index__img-holder img {
    width: 9rem;
    height: 9rem;
  }

  .blog-index__title h4 {
    margin-top: 0;
  }

  .blog-index__content--text {
    grid-column: 3;
    padding-left: 1rem;
  }

  .blog-index__content--text p {
    font-size: 1.1rem;
  }

  .blog-index__underline {
    grid-column: 1 / 5;
  }

  .blog-index__button--wrapper {
    grid-column: 1/ 5;
  }

  .search-bar {
    padding: 2rem;
  }

  /****** BLOG - SINGLE PAGE *******/
  .single-post__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 700px) {
  .plan-kartica-img {
    height: 25%;
  }

  .dual-plan .plan-kartica-img {
    height: 24%;
  }

  .prijava__wrapper {
    width: 500px;
  }

  .dugme__prijavi-se {
    justify-content: center;
  }

  /** DASHBOARD **/

  .entry-list {
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
  }

  .ostalo-info-open {
    width: 100%;
  }

  /***** NASLOVNA *****/
  .hero-title h2 span:nth-child(odd) {
    font-size: 7rem;
  }

  .hero-title h2 span:nth-child(even) {
    font-size: 6.5rem;
  }
}

@media (min-width: 850px) {
  .plan-kartica-img {
    height: 35%;
  }

  .dual-plan .plan-kartica-img {
    height: 34%;
  }

  .footer-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8rem 0 4rem 0;
    align-items: center;
  }

  .footer-wrapper .navbar__logo .navbar__logo__img {
    margin: 0;
    width: 10rem;
  }

  .footer-links--list {
    margin: 0;
  }

  .social-icons {
    margin: 0;
  }

  /* == O MENI ==*/
  .grid-container {
    display: grid;
    grid-template-columns: minmax(30ch, 50ch) max-content;
    justify-content: center;
  }

  .omeni-img {
    grid-column: 2;
    margin: 0 auto;
    width: 100%;
    position: relative;
    align-self: center;
  }

  .omeni-jovan {
    height: 350px;
    margin-left: 1rem;
  }

  .omeni-info__content {
    grid-column: 1;
    grid-row: 1;
    padding: 0 0 0 3rem;
  }

  .omeni-info__content p {
    margin-top: 3rem;
  }

  .omeni-info__content::before {
    top: 0;
    height: 100%;
  }

  .omeni-img::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 20px;
    width: 87%;
    height: 100%;
    z-index: 0;
    right: 0;
    bottom: 0;
    border-right: 2px solid var(--ljub);
    border-top-right-radius: 190px;
    border-bottom-right-radius: 190px;
  }

  .omeni-img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 326px;
    width: 100%;
    height: 2px;
    z-index: -1;
    background: linear-gradient(to right, var(--ljub), var(--zut1));
    right: 0;
    bottom: 0;
  }

  .dugme-omeni {
    justify-self: center;
  }

  /**** BLOG - INDEX ****/
  .blog-index__img-holder {
    justify-self: center;
  }

  .blog-index__content--text {
    padding: 0 6rem 0 0;
  }

  .blog-index__info--list {
    justify-self: start;
  }

  .single-post__wrapper {
    width: 65%;
    margin: 0 auto;
  }
}

@media (min-width: 770px) {
  /** navbar **/

  .menu-toggle {
    display: none;
  }

  .navbar {
    background: none;
    clip-path: none;
    position: relative;
    height: 100%;
    width: auto;
  }

  .navbar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar__list {
    display: flex;
    margin: 0;
  }

  .navbar__item {
    padding: 0;
    margin: 0 1rem 0 0;
    border-bottom: none;
  }

  .navbar__item:hover,
  .navbar__item:focus {
    background-color: transparent;
  }

  .navbar__link {
    transition: color ease 0.2s;
  }

  .navbar__link:hover,
  .navbar__link:focus {
    color: var(--ljub1);
  }

  .navbar__link i {
    display: none;
  }
}

@media (min-width: 1100px) {

  /** da se poveca **/
  .plan-kartica-img {
    height: 40%;
  }

  .dual-plan .plan-kartica-img {
    height: 39%;
  }

  /* HOME NASLOVNA */
  .hero-title h4 {
    font-size: 0.9rem;
  }

  .hero-title h2 span:nth-child(odd) {
    font-size: 7.5rem;
  }

  .hero-title h2 span:nth-child(even) {
    font-size: 7rem;
  }

  .hero-desktop-img {
    background-position: -11rem;
  }

  /* SINGLE BLOG POST */
  .single-post__wrapper {
    width: 70%;
    padding: 1rem 0;
  }

  .single-post__img--wrapper {
    display: flex;
  }

  .single-post__img {
    max-width: 50%;
  }

  .single-post__img--wrapper::before {
    content: none;
  }

  .single-post__title {
    position: relative;
    filter: none;
  }

  .single-post__title h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.65);
  }

  .single-post__title--info {
    color: rgba(0, 0, 0, 0.65);
    filter: none;
  }

  .single-post__content-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }



  .single-post__content {
    width: 55ch;
  }

  .single-post__sidebar {
    /* width: calc(100% - 65ch); */
    margin: 0%;
    max-width: 350px;
  }

  .single-post__underline {
    margin: 2rem 0;
    width: 100%;
  }

  /* BLOG */
  .search-bar form {
    margin-top: 0;
  }
}

@media (min-width: 1250px) {
  .single-post__wrapper {
    width: 65%;
    padding: 1rem 0;
  }
}

@media (min-width: 1500px) {
  .plan-kartica-overflow {
    max-width: 80%;
  }

  .plan-kartica-img {
    max-width: 80%;
  }

  .plan-ishrane__info,
  .plan-treninga__info,
  .dual-plan__info {
    display: relative;
    margin-top: 50%;
  }

  .hero-title h2 span:nth-child(odd) {
    font-size: 8.5rem;
  }

  .hero-title h2 span:nth-child(even) {
    font-size: 8rem;
  }

  .hero-desktop-img {
    background-position: -16rem;
  }

  .single-post__wrapper {
    max-width: 55%;
    padding: 1rem 0;
  }
}

@media (min-width: 1900px) {
  .hero-title h2 span:nth-child(odd) {
    font-size: 10.5rem;
  }

  .hero-title h2 span:nth-child(even) {
    font-size: 10rem;
  }
}